.second{
    padding-left: 10vw;
    padding-right: 7vw;

    height: 100vh;
    width: 100%;
    margin-top: 5vw;
    display: flex;

    .one-sec{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        
        img{
            width: 22vw;
        }
    }
    .two-sec{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        margin-left: 2vw;
      
        img{
            width: 22.3vw;
        }
    }
    .three-sec{
        width: 30%;
        display: flex;
        gap: 2vw;
        margin-left: 3vw;
        flex-direction: column;
        img{
            width: 22vw;
        }
    }
}



@media screen and (max-width:786px) {


    .second{
        padding-left: 2vw;
        padding-right: 0vw;
    margin-left: 1.5vw;
        height: 30vh;
        width: 100%;
        margin-top: 10vw;
        display: flex;
    
        .one-sec{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 2vw;
            
            img{
                width: 30vw;
            }
        }
        .two-sec{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 1.5vw;
            margin-left: 2vw;
          
            img{
                width: 30.5vw;
            }
        }
        .three-sec{
            width: 30%;
            display: flex;
            gap: 2vw;
            margin-left: 3vw;
            flex-direction: column;
            img{
                width: 30vw;
            }
        }
    }
    


}